
br
p Hello Page One!

script.
	loadjs.ready('style', function () {
		console.log('page 1 component script here')
	})

		/*auth.createUserWithEmailAndPassword('vicmasons@gmail.com', '123123')
			.then(function(user) {})
			.catch(function(error){})
		*/

		//auth.signOut()

		/*auth.signInWithEmailAndPassword('vicmasons@gmail.com', '123123')
			.then(function(user) {})
			.catch(function(error){})
		*/

		//auth.sendPasswordResetEmail('vicmasons@gmail.com')
