extends /plugin/_layout
//- App Shell

block head
	//static binding ex:
	title #{title}

	script( src='//www.gstatic.com/firebasejs/4.13.0/firebase-app.js')
	script( src='//www.gstatic.com/firebasejs/4.13.0/firebase-auth.js')
	script( src='//www.gstatic.com/firebasejs/4.13.0/firebase-firestore.js')

	script.
		// Initialize Firebase
		const fconfig = {
			apiKey: 'AIzaSyASZVGB4s1uKB4OdxPCcbJ3ebf44KUYdIE',
			authDomain: 'nbake1-1.firebaseapp.com',
			projectId: 'nbake1-1'
		}
		firebase.initializeApp(fconfig)
		const auth =firebase.auth()
		const db  = firebase.firestore()

block main
	p
	.ui.text.container
		include _pinc.pug

	script.
		loadjs.ready('style', function () {
			console.log('page 1 script here')
		})

		auth.setPersistence(firebase.auth.Auth.Persistence.LOCAL)
		let user
		function isUserIn() {
			if(!user) return false
			return user.emailVerified
		}

		auth.onAuthStateChanged(function(user) {
			if (user_) { //in, go to member page
				user = user_
				console.log('auth', isUserIn())
				if(!isUserIn())
					user_.sendEmailVerification()
			}
			else {//out, go to home page
				user = null
				console.log('auth','bye')
			}
		})// user event

		/*auth.createUserWithEmailAndPassword('vicmasons@gmail.com', '123123')
			.then(function(user) {})
		*/

		//auth.signOut()

		auth.signInWithEmailAndPassword('vicmasons@gmail.com', '123123')


		// Ladyeeh88@yahoo.com



		//auth.sendPasswordResetEmail(email)
		//auth confirmPasswordReset(code, newPassword)
		//auth.sendSignInLinkToEmail('cekvenich.vic@gmail.com')